#menu{
	position: fixed;
	left: -110px;
	top: 50px;
	width: 100px;
	padding: 5px;
	background-color: orange;


}


#menu #open{
	position: absolute;
	width: 50px;
	right: -50px;
	top: 0px;

}

#menu #close{
	position: absolute;
	width: 50px;
	right: -50px;
	bottom: 0px;

}

#menu button{
	width: 7em;
}